<h1>About Nicky Bramschreiber</h1>

<b><p>	Nicky Bramschreiber	Co-Director / League Coordinator
nickybram@madfrogsports.com</p></b>

<p>Founded in 2004, Madfrog Volleyball was the brain-child of Stefanie Rotunno when she met up with another
DeadFrog and Western Michigan Bronco ulumni, Nicky Bramschreiber. The fate was sealed and now MadFrog is a growing
juniors club in the Dallas area ranked one of the best clubs in Texas by Lone Star Volleyball.</p>

<p>As Club Co-Director, Nicole Shanel Drake-Foster Bramschreiber, Nicky ("Mookie") has worked with young 
women since graduation to increase their volleyball skills and further their personal development. She provides the 
girls with a firm helping-hand that encourages their self-determination. A compashionate coach who leaves it all
on the Practice Court, so that each player is well skilled and accustomed to the competitive environment of Club Tournaments.
Over the past 15 years, Coach Nicky has provided 1000's of girls with the skill sets, temperment, poise and fortitude
to go beyond the boundaries they thought they were capable of.</p>

<p>Multiplying her efforst and knowledge, Nicky has been chosen by dozens of area coaches as their Go-To 
Mentor. Because of this, Madfrog has some of the best skills coaching in the Dallas area, with all of our coaches 
having experienced playing and/or coaching at the school, club or collegiate levels.</p>

<p><b>Mission of the MadFrog</b></p>

<p>The mission of Madfrog Volleyball Club is to provide student-athletes with sound fundamental 
volleyball skills and develop each player to her maximum potential. The coaches and directors 
are committed to developing the whole athlete. The "total package" encompasses the players’ academics,
athleticism, self-esteem and citizenship. In addition to teamwork, discipline, and fundamental skills, 
the coaching staff is devoted to making each girl not only a player of the game, but also a student of the game.
Participating in club volleyball requires a large amount of time and financial commitment for the student-athlete and parents. That is why Madfrog Volleyball would like each student-athlete to get the most out of their investment. Becoming an organized, dedicated, and confident student-athlete is one advantage to this commitment. The commitment also provides the potential opportunity to continue to play in the future at the college level.
MADFROG’s goal is to provide a feeling of belonging and unity for all the athletes, coaches and families that are a part of Madfrog. As a club, we challenge our athletes to follow their dreams … and we believe that we are doing just that by creating a home where we can grow and help foster our athlete’s goals and dreams!
Madfrog Club Leadership</p>
